{% load i18n static %}<!DOCTYPE html>
<html lang="en-us">
<head>

<title>Propose</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- FontAwesome -->
<script src="https://use.fontawesome.com/4fcfde129c.js"></script>

{% block extrastyle %}{% endblock extrastyle %}
{% block extrahead %}{% endblock extrahead %}

</head>
{% load i18n %}

{% block main %}{% endblock main %}

{% block extrascript %}{% endblock extrascript %}

</html>